
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  body {
    background:
      linear-gradient(
          limegreen,
          transparent
      ),
      linear-gradient(
          90deg,
          skyblue,
          transparent
      ),
      linear-gradient(
          -90deg,
          coral,
          transparent
      );
      
  background-blend-mode: screen;
  
    font-family: "Lato", sans-serif;
  }