body {
    background-color: brown;
}
* {
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  


  nav img {
    height: 50px; 
  }
  
  nav a {
    text-decoration: none;
    color: #777777;
    font-size: 16px;
    padding: 8px;
  }
  nav ul.right-nav a {
    padding: px 35px;
  }
  
  nav a.current {
    color: #444444;
  }
  
  nav a.primary {
    color: white;
    background-color: #329ef7;
    border: 2px solid #329ef7;
    border-radius: 4px;
    margin-left: 0;
  }
  
  
  
  nav ul {
    display: flex;
    justify-content: center;
  }
  
  nav {
    background-color: white;
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
  }